---
title: "Tech & Software"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/background.jpg
  caption: "Photo credit: [**vldts**](https://flic.kr/p/omaQ4C)"
excerpt: 'Just a personal tech blog<br /><br /><br /><br /> My open source projects:  {::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=gdavila&type=follow&count=false&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>{:/nomarkdown}'

feature_row:
  - alt: "Software"
    title: "Software"
    excerpt: "Nodejs, Python, C++, K8s, Docker, AWS"
    url: "/software/"
    btn_class: "btn--primary"
    btn_label: "Go"
  - alt: "Video & Media"
    title: "Video & Media"
    excerpt: "OTT, IPTV, Encoding, VMAF"
    url: "/video/"
    btn_class: "btn--primary"
    btn_label: "Go"
  - alt: "Data Communications"
    title: "Data Communications"
    excerpt: "QoS, Internet Meassurements, Data Networks"
    url: "/internet/"
    btn_class: "btn--primary"
    btn_label: "Go"

intro:
  - excerpt: '`IPTV`, `OTT`, `FFmpeg`, <br />`TCP/IP`,`Internet Meassurements`, `Internet Topology`'
---



{% include feature_row id="intro" type="center" %}

<div align="center">
{% include feature_row  %}
</div>
