---
title: "Networking and Data Communications"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/background.jpg
  caption: "Photo credit: [**vldts**](https://flic.kr/p/omaQ4C)"
excerpt: 'ingeniería, investigaciones preliminares y reflexiones inconclusas.<br /><br />{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=gdavila&type=follow&count=false&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>{:/nomarkdown}'

feature_row:
  - alt: "GitHub"
    title: "GitHub"
    excerpt: "Proyectos Open Source"
    url: "https://github.com/gdavila?tab=repositories"
    btn_class: "btn--primary"
    btn_label: "Ver"
  - alt: "Internet Measurements"
    title: "Mediciones de Internet"
    excerpt: "QoS, Mediciones, Exploraciones y Topología"
    url: "/internet/"
    btn_class: "btn--primary"
    btn_label: "Ver"
  - alt: "Docsis"
    title: "Docsis"
    excerpt: "Optimización y Monitoreo de Redes Docsis"
    url: "/docsis/"
    btn_class: "btn--primary"
    btn_label: "Ver"

intro: 
  - excerpt: '`TCP/IP`, `Docsis 3.0`, `Docsis 3.1`, <br />`Internet Meassurements`, `Internet Topology`'
---



{% include feature_row id="intro" type="center" %}

<div align="center">
{% include feature_row  %}
</div>
