---
title: "Networking and Data Communications"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/background.jpg
  caption: "Photo credit: [**vldts**](https://flic.kr/p/omaQ4C)"
excerpt: 'ingeniería, investigaciones preliminares y reflexiones inconclusas.<br /><br />{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=gdavila&type=follow&count=false&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>{:/nomarkdown}'

feature_row:
  - image_path: /assets/images/background.jpg
    alt: "internet measurements"
    title: "Internet Measurements"
    excerpt: "QoS, Mediciones, exploraciones y topología del internet"
    url: "/internet/"
    btn_class: "btn--primary"
    btn_label: "Ver"
  - image_path: /assets/images/background.jpg
    alt: "Docsis"
    title: "Docsis"
    excerpt: "Nuevas tecnologías, optimización de la red de acceso y monitoreo"
    url: "/docsis/"
    btn_class: "btn--primary"
    btn_label: "Ver"


intro: 
  - excerpt: '`TCP/IP`, `Docsis 3.0`, `Docsis 3.1`, <br />`Internet Meassurements`, `Internet Topology`'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row  %}
